---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import ButtonTwo from '../components/ButtonTwo.astro';
---

<Layout title="Welcome to Astro.">
  <Button/>
  <ButtonTwo rounded>
    <h1 slot="text">Hola</h1>
    <h1 slot="icon">X</h1>
    <h1 slot="text">Hola2</h1>
  <ButtonTwo/>
</Layout>