---
const {rounded = false} = Astro.props;
---

<button class:list={[
    'bg-blue-300',
    'px-2',
    'leading-3',
    'pt-1',
    'pb-2',
    {rounded: rounded}
]}
>
    <div class="flex justify-center items-center gap-2">
        <slot name="text"/>
        <div class="bg-red-500 rounded-full p-1">
            <slot name="icon"/>
        </div>   
    </div>
</button>